<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="BeangeSpringConfigProcessor" class="org.beangle.spring.config.SpringConfigProcessor">
    <property name="moduleLocations" value="classpath*:META-INF/beangle/web-cdi.properties" />
    <property name="reconfigLocations" value=";classpath*:spring-web-config.xml" />
  </bean>

  <import resource="classpath*:META-INF/spring-web/*.xml" />
  <import resource="classpath*:spring-web.xml" />
</beans>
